<!--os codigos na linha 2 a 4 sao os links para o caminho para estilos, bootstrap, js css
<link rel="stylesheet" href="caminho-para-o-arquivo/bootstrap.min.css">
<script src="caminho-para-o-arquivo/jquery.min.js"></script>
<script src="caminho-para-o-arquivo/bootstrap.min.js"></script> 
--->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/logo-sympla.png" alt="Logo" width="50" height="50">
  </a>
  <div class="search">
    <svg width="26" height="26"></svg>
    <input type="text" class="search-box" autocomplete="off" placeholder="Pesquizar eventos, shows, teatros, cursos...">
    <button class="search-btn"> Pesquizar </button> </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Qualquer lugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seja um produtor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acesse sua conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastre-se</a>
        </li>
      </ul>
    </div>
  
</nav>
